<a class="list-group-item offers-body">
    <div class="row cda-row">
        <div class="media col-md-3">
            <figure class="pull-left">
                <img ng-if="item.image" class="media-object img-rounded img-responsive" src="item.Image">
                <img ng-if="!item.image" class="media-object img-rounded img-responsive" src="content/images/bg2.jpg">
            </figure>
        </div>
        <div class="col-md-9">
            <div class="row cda-row">
                <div class="col-md-12 nameGeneric">{{item.Title}}</div>
            </div>
            <div class="row cda-row">
                <div class="col-md-12 nameElement">
                    <div ng-if="item.Category.Description">
                        <span>{{'offers.category' | translate}}</span>
                        <span class="attributeName">{{item.Category.Description}}</span>
                    </div>
                </div>
            </div>
            <div class="row cda-row">
                <div class="col-md-12 nameElement">
                    <div ng-if="item.Country">
                        <span>{{'offers.country' | translate}}</span>
                        <span class="attributeName">{{item.Country.Name}}</span>
                    </div>
                </div>
            </div>
            <div class="row cda-row">
                <div class="col-md-12 nameElement">
                    <div ng-if="item.City">
                        <span>{{'offers.city' | translate}}</span>
                        <span class="attributeName">{{item.City.Name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>