<a class="list-group-item offers-body">
    <div class="row cda-row">
        <div class="col-md-6 text-center">
            <figure>
                <img ng-if="item.Image" data-ng-src="data:image/png;base64,{{item.Image}}">
                <img ng-if="!item.Image" src="content/images/no-photo.jpg">
            </figure>
        </div>
        <div class="col-md-6 text-center">
            <div class="row cda-row">
                <div class="col-md-12 nameGeneric">{{item.Title}}</div>
            </div>
            <div class="row cda-row">
                <div class="col-md-12 nameElement">
                    <div ng-if="item.Category.Description">
                        <span>{{'offers.category' | translate}}</span>
                        <span class="attributeName">{{item.Category.Description}}</span>
                    </div>
                </div>
            </div>
            <div class="row cda-row">
                <div class="col-md-12 nameElement">
                    <div ng-if="item.Country">
                        <span>{{'offers.country' | translate}}</span>
                        <span class="attributeName">{{item.Country.Name}}</span>
                    </div>
                </div>
            </div>
            <div class="row cda-row">
                <div class="col-md-12 nameElement">
                    <div ng-if="item.City">
                        <span>{{'offers.city' | translate}}</span>
                        <span class="attributeName">{{item.City.Name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>