<div ng-controller="UsersOffersController as ctrl" class="offers-filter">
  <div us-spinner spinner-on="ctrl.isLoading">
    <div class="row cda-row">
      <div class="row cda-row">
        <h1 class="col-xs-12 title-initial">{{'offers.title'| translate}}</h1>
      </div>
    </div>
    <div class="row cda-row">
      <div class="col-xs-2">
        <div class="row cda-row">
          <div class="title">
            {{'offers.filter.title' | translate}}
          </div>
        </div>
        <div class="row cda-row">
          <div class="col-xs-12 combo subtitle">
            <uib-accordion close-others="true">
              <div uib-accordion-group class="panel-default" heading="{{'offers.filter.type' | translate}}" is-open="status.isFirstOpen">
                <label ng-repeat="category in ctrl.categories">
                  <input type="checkbox" checklist-model="ctrl.categoriesSelected" checklist-value="category.id">
                  {{category.description}}
                </label>
              </div>
              <div uib-accordion-group class="panel-default" heading="{{'offers.filter.location' | translate}}" is-open="status.isFirstOpen">
                Checkbocks
              </div>

            </uib-accordion>
          </div>
        </div>
        <div class="row cda-row">
          <div class="col-xs-12 button-clean">
            <button ng-click="ctrl.onChangeFilters()" class="btn btn-primary btnClean">{{'offers.filter.applyFilter'
              | translate }}</button>
          </div>
          <div class="col-xs-12 button-clean">
            <button ng-click="ctrl.clearAllFilters()" class="btn btn-primary btnClean">{{'offers.filter.clearAll'
              | translate }}</button>
          </div>
        </div>
      </div>
      <div class="col-xs-10 border-left">
        <div class="row cda-row">
          <div class="col-xs-10 search">

            <div class="input-group">
              <input ng-model="ctrl.searchText" ng-change="ctrl.search(ctrl.searchText)" class="form-control"
                placeholder="{{'offers.searchItem' | translate}}" type="text" ng-model-options="{ debounce: 1000}" />
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
        </div>
        <offers-list open-state="'/users-offers/:id/details'" ng-if="ctrl.offers" items="ctrl.offers"></offers-list>
        <div ng-if="!ctrl.offers || ctrl.offers == 0" class="noItems">
          {{'offers.noItems' | translate}}
        </div>
        <div bento-pagination page="ctrl.pagination.pageIndex" direction-links="true" boundary-links="true" total-items="ctrl.pagination.totalItems"
          items-array="ctrl.selectItems" items-per-page="ctrl.pagination.itemsPerPage" info-Text="{{'offers.pagination.infoText' | translate}}"
          info-page-text="{{'offers.pagination.infoPageText' | translate}}" go-to-text="{{'offers.pagination.goToText' | translate}}"
          on-change="ctrl.onPageChange(page)" on-change-size="ctrl.onPageSizeChange(size)">
        </div>
      </div>
    </div>
  </div>
</div>