<div ng-controller="AboutController as ctrl" us-spinner spinner-on="ctrl.isLoadingCountries || ctrl.isLoadingMap">
  <div class="container">
    <div class="row cda-row">
      <h1 class="col-md-12 title">{{'about.title'| translate}}</h1>
    </div>
    <div>
      <div class="row cda-row">
        <div class="col-md-12 about-text">
          We are a group of young people whose goal is to unite two or more people, in a relationship
          involving tourists and individuals who can provide a service. Our idea is to create the connecting
          link between both parties and that they can decide which service they will exchange by uploading it to the
          page.
          They can vary from advice as to where you can go for dinner at a good price or good quality or even provide a
          hosting service.
          This page does not have payment services and we consider that the best remuneration is a cultural exchange,
          although this
          decision is in the hands of those who decide to use this page.
          We want to revolutionize the way we travel today. Join this change.

          <br><br>
          This project was born within the international training program Diller Teen Fellows
          as a final project to encompass everything learned in it and we appreciate the tools that made it
          possible to carry out our ideal.

          <br><br>
          Contact us: <a href="mailto:connecting.us.dtf@gmail.com">connecting.us.dtf@gmail.com</a>

        </div>
      </div><br><br>
      <div class="row cda-row">
        <div class="col-md-12 text-center">
          <h3>{{'about.whereAreWe'| translate}}</h3>
          <div id="mapDiv" style="width: 100%; height: 500px"></div>
        </div>
      </div>
    </div>
  </div>
</div>