<div ng-controller="AboutController as ctrl" us-spinner spinner-on="ctrl.isLoadingCountries || ctrl.isLoadingMap">
  <div class="container">
    <div class="row cda-row">
      <h1 class="col-md-12 title">{{'about.title'| translate}}</h1>
    </div>
    <div>
      <div class="row cda-row">
        <div class="col-md-12 about-text">
          <p>{{'about.text.p1'| translate}}</p>
          <p>{{'about.text.p2'| translate}}</p>
          <p>{{'about.text.p3'| translate}}</p>
          <p>{{'about.text.p4'| translate}}</p>
          <br>
          {{'about.contact'| translate}}: <a href="mailto:connecting.us.dtf@gmail.com">connecting.us.dtf@gmail.com</a>
        </div>
      </div><br><br>
      <div class="row cda-row">
        <div class="col-md-12 text-center">
          <h3>{{'about.whereAreWe'| translate}}</h3>
          <div id="mapDiv" style="width: 100%; height: 500px"></div>
        </div>
      </div>
    </div>
  </div>
</div>