/* The sidenav */

body {
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--main-text-color);
  text-align: left;
  background-color: var(--main-bg-color);
}

.title {
  font-family: var(--main-font);
  font-weight: 500;
}

.headerTitle {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
}

.header-account-name {
  padding-top: 12px;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.back {
  background-image: url('../images/bg2.jpg');
}

.headerMenu {
  background-image: url('../images/banner.jpg');
  z-index: 1;
  text-decoration: none;
  margin-top: 0;
}

/* Page content */

.cda-row {
  margin-bottom: 10px;
}

.btn-new {
  background-color: #83bdf3;
}

.logout {
  text-decoration: none;
  font-size: 16px;
  line-height: 2.5;
  color: #fff;
}

/* login */

.login-background {
  width: 100%;
  height: 40px;
}

.login-shadow {
  box-shadow: 0px 2px 10px grey;
}

.login-image {
  align-content: center;
  height: 200px;
  width: 200px;
}

/* header */

.header-logo {
  float: left;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

/* myOffers */

.offer-image {
  width: 400px;
}

.offer-label {
  font-weight: 800;
  font-family: 'Scada', sans-serif;
  font-size: 20px;
}

.offer-text {
  font-size: 15px;
  font-weight: 100;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  padding: 2px;
}

.offer-select {
  width: 200px;
  height: 28px;
  margin-left: 20px;
  margin-top: 3px;
}

.offer-accordeon-title {
  float: left;
}

.offer-accordeon-city {
  float: left;
  margin-left: -75px;
}

.btn-save-myOffer {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.about-button {
  float: right;
  margin-left: 20px;
}

.about-text {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.map {
  width: 50%;
  margin: 0 auto;
}

.subtitle {
  text-align: center
}

/* The Modal (background) */

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.terms-and-conditions-text {
  font-family: var(--main-font);
  font-size: 16px;
  margin-left: 10px;
}

.terms-and-conditions-checkbox {
  font-size: 40px;
}

.terms-and-conditions-accept {
  text-align: left;
}

.float-right {
  float: right;
}




.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

form .progress {
  line-height: 15px;
}


.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}