:root {
    --main-bg-color: #F6F6F6;
    --main-text-color: #21252A;
    --main-font: 'Scada', sans-serif;
    --footer-bg-color: rgb(129, 163, 187);
    --light-blue: #cce6ff;
    --white: #FFFFFF;
}