:root {
    --main-bg-color: #F6F6F6;
    --main-text-color: #21252A;
    --main-font: 'Scada', sans-serif;
    --footer-bg-color: rgb(129, 163, 187);
    --light-blue: #cce6ff;
    --white: #FFFFFF;
    --black: #000000;
    --grey-dark:#242222;
    --blue:#3f3fa7;
    --orange:#e68a00;
    --green:#009933;
    --red:#cc3300;

}