<div ng-controller="ProductsDetailsController as vm" class="products-details">
    <div class="row">
        <a ui-sref="/products/index" class="col-xs-12 comeBack">{{'Products.details.comeBack' | translate }}</a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div ng-if="vm.product.image>4" class="col-xs-3 img-small">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-small" src="{{vm.product.image}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-small" src="{{vm.product.image}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-small" src="{{vm.product.image}}" />
                    </div>
                </div>
            </div>
            <div class="col-xs-3 img-big">
                <img class="img-big" src="{{vm.product.image}}" />
            </div>
            <div class="col-xs-3 info">
                <div class="row">
                    <div class="col-xs-12 title">
                        {{vm.product.nameGeneric}}
                    </div>
                </div>
                <div class="row">
                    <div class="price">
                        <div ng-if="vm.product.discount">
                            <div class="col-xs-6 discount">
                                <span bm-number-filter="vm.product.discountPrice" bm-number-filter-is-currency="true"></span>
                            </div>
                            <div class="col-xs-6">
                                <span bm-number-filter="vm.product.price" bm-number-filter-is-currency="true"></span>
                                <span>{{'Products.details.price' | translate }}</span>
                            </div>
                        </div>
                        <div ng-if="!vm.product.discount" class="col-xs-12">
                            <span bm-number-filter="vm.product.price" bm-number-filter-is-currency="true"></span>
                            <span>{{'Products.details.price' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 comments">
                        {{vm.product.comments}}
                    </div>
                </div>
                <div class="row">
                    <div class="products-item-body list">
                        <ul class="list-group nameElement">
                            <li ng-if="vm.product.attribute1Name" class="list-group-item">
                                <span class="attributeName">{{vm.product.attribute1Name}}:</span>
                                <span>{{vm.product.nameElement1}}</span>
                            </li>
                            <li ng-if="vm.product.attribute2Name" class="list-group-item">
                                <span class="attributeName">{{vm.product.attribute2Name}}:</span>
                                <span>{{vm.product.nameElement2}}</span>
                            </li>
                            <li ng-if="vm.product.attribute3Name" class="list-group-item">
                                <span class="attributeName">{{vm.product.attribute3Name}}:</span>
                                <span>{{vm.product.nameElement3}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 buy">
                <div class="row">
                    <div class="col-xs-12 title">
                        {{'Products.details.buy' | translate }}
                        <div class="line"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 unit-title">
                        {{'Products.details.unit' | translate }}
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input class="inputUnit" placeholder="Type Here" data-qe-id="unit" type="number" name="unit" ng-model="vm.inputUnit" ng-change="vm.calcAmount()" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 totalamount">
                            {{'Products.details.amount' | translate }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 price">
                            <span data-qe-id="totalAmount" bm-number-filter="vm.totalAmount" bm-number-filter-is-currency="true"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 products-btn">
                            <button ng-click="" class="btn btn-md btn-primary" id="productsDetails.buy">{{'Products.details.cart' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

