<div us-spinner spinner-on="ctrl.isLoading" class="offers-filter">
  <div class="container">
    <!--Title-->
    <div class="row cda-row">
      <h1 class="col-md-12 title-initial">
        <span ng-if="!ctrl.myOffers">{{'offers.title.users'| translate}}</span>
        <span ng-if="ctrl.myOffers">{{'offers.title.my'| translate}}</span>
      </h1>
    </div>
    <!--Filters-->
    <div class="row cda-row">
      <div class="col-md-12">
        <!--Filters title-->
        <div class="row cda-row">
          <div class="col-md-12">
            <uib-accordion close-others="true">
              <div uib-accordion-group class="panel-default" heading="{{'offers.filter.title' | translate}}">
                <div class="row cda-row">
                  <div class="col-md-6">
                    <label class="label-crud" for="category" translate="offers.category"></label>
                    <ul ng-repeat="category in ctrl.categories" class="offers-list">
                      <li><input type="checkbox" ng-model="category.selected">{{category.Description}}</li>
                    </ul>
                  </div>
                </div>
                <div class="row cda-row">
                  <div class="col-md-6">
                    <label class="label-crud text-center" for="country" translate="offers.country"></label>
                    <br>
                    <select class="btn btn-default" ng-model="ctrl.filterCountry" ng-options="x.Name for x in ctrl.countries"
                      ng-change="ctrl.onSelectCountry()"></select>
                  </div>
                  <div class="col-md-6">
                    <label class="label-crud text-center" for="city" translate="offers.city"></label>
                    <br>
                    <select class="btn btn-default" ng-model="ctrl.filterCity" ng-options="a.Name for a  in ctrl.cities"
                      ng-disabled="!ctrl.filterCountry">
                      <option value="" ng-if="ctrl.filterCity">&nbsp;</option>
                    </select>
                  </div>
                </div>
                <div class="row cda-row" ng-if="ctrl.myOffers">
                  <div class="col-md-12">
                    <input type="checkbox" ng-model="ctrl.showInactives" value="ctrlshowInactives">
                    {{'offers.filter.inactivesOptions' |
                    translate}}
                  </div>
                </div>
                <div class="row cda-row">
                  <div class="col-md-6 button-clean">
                    <button ng-click="ctrl.updateOffers()" class="btn btn-primary btnClean">{{'offers.filter.applyFilter'
                      | translate }}</button>
                  </div>
                  <div class="col-md-6 button-clean">
                    <button ng-click="ctrl.clearAllFilters()" class="btn btn-primary btnClean">{{'offers.filter.clearAll'
                      | translate }}</button>
                  </div>
                </div>
              </div>
            </uib-accordion>
            <div class="row cda-row">
              <div class="col-md-12">
                <div class="input-group">
                  <input ng-model="ctrl.searchText" ng-change="ctrl.search()" class="form-control" placeholder="{{'offers.searchItem' | translate}}"
                    type="text" ng-model-options="{ debounce: 1000}" />
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="row cda-row" ng-if="ctrl.offers">
              <div class="col-md-12">
                <offers-list item-new="ctrl.myOffers" open-state="ctrl.myOffers ? '/my-offers/:Id' : '/offers/:Id' "
                  items="ctrl.offers"></offers-list>
              </div>
            </div>
            <div ng-if="!ctrl.offers || ctrl.offers.lenght == 0" class="noItems">
              <div class="col-md-12">
                {{'offers.noItems' | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>