<form name="CRUDMOfferForm" class="crud needs-validation offers-filter" us-spinner spinner-on="ctrl.isLoading">
  <div class="container">
    <div class="row cda-row">
      <h1 ng-if="!ctrl.myOffer" class="col-md-12 title-initial">{{ctrl.offer.Title}}</h1>
      <h1 ng-if="ctrl.myOffer" class="col-md-12 title-initial">{{'myOffer.titleView' | translate}}</h1>
    </div>
    <div class="row cda-row">
      <div class="row cda-row">
        <div class="col-md-6 text-center">
          <img src="content/images/bg2.jpg" class="offer-image">
        </div>
        <div class="col-md-6 well">
          <div class="col-md-12" ng-if="ctrl.myOffer">
            <label class="label-crud" ng-class="ctrl.myOffer ? 'label-required' : ''" translate="myOffer.title">>:</label>
            <input type="text" class="form-control" id="firstName" placeholder="" ng-model="ctrl.offer.Title" required>
            <div class="validate-error ng-cloak" ng-show="ctrl.validateError.show.title">{{ctrl.validateError.message.title}}</div>
          </div>
          <div class="col-md-12">
            <label class="label-crud" ng-class="ctrl.myOffer ? 'label-required' : ''" translate="myOffer.category">>:</label>
            <br><label ng-if="!ctrl.myOffer" class="offer-label">{{ctrl.offer.Category.Description}}</label>
            <select ng-if="ctrl.myOffer" class="custom-select d-block w-100  form-control" id="category" ng-model="ctrl.offer.Category"
              ng-options="x.Description for x in ctrl.categories track by x.Id" required></select>
              <div class="validate-error ng-cloak" ng-show="ctrl.validateError.show.category">{{ctrl.validateError.message.category}}</div>
          </div>
          <div class="col-md-12">
            <label class="label-crud" ng-class="ctrl.myOffer ? 'label-required' : ''" translate="myOffer.country">:</label>
            <br><label ng-if="!ctrl.myOffer" class="offer-label">{{ctrl.offer.Country.Name}}</label>
            <select ng-if="ctrl.myOffer" class="custom-select d-block w-100  form-control" id="category" ng-model="ctrl.offer.Country"
              ng-options="x.Name for x in ctrl.countries track by x.Id" ng-change="ctrl.onSelectCountry()" required></select>
              <div class="validate-error ng-cloak" ng-show="ctrl.validateError.show.country">{{ctrl.validateError.message.country}}</div>
          </div>
          <div class="col-md-12">
            <label class="label-crud" ng-class="ctrl.myOffer ? 'label-required' : ''" translate="myOffer.city">:</label>
            <br><label ng-if="!ctrl.myOffer" class="offer-label">{{ctrl.offer.City.Name}}</label>
            <select ng-if="ctrl.myOffer" class="custom-select d-block w-100  form-control" id="city" ng-model="ctrl.offer.City"
              ng-options="x.Name for x in ctrl.cities track by x.Id" required></select>
              <div class="validate-error ng-cloak" ng-show="ctrl.validateError.show.city">{{ctrl.validateError.message.city}}</div>
          </div>
          <div class="col-md-12">
            <label class="label-crud" ng-class="ctrl.myOffer ? 'label-required' : ''" translate="myOffer.description">:</label>
            <textarea ng-if="ctrl.myOffer" class="offer-text form-control" ng-model="ctrl.offer.Description"></textarea>
            <label ng-if="!ctrl.myOffer" class="offer-text" ng-model="ctrl.offer.Description">{{ctrl.offer.Description}}</label>
            <div class="validate-error ng-cloak" ng-show="ctrl.validateError.show.description">{{ctrl.validateError.message.description}}</div>
          </div>
          <div class="col-md-12" ng-if="ctrl.myOffer">
            <label class="label-crud label-required"><input type="checkbox" ng-model="ctrl.offer.Active">{{'myOffer.active'
              | translate}}</label>
          </div>
        </div>
        <div class="col-md-12" ng-if="!ctrl.myOffer">
          <button type="button" class="btn btn-primary btn-save-myOffer float-right" type="submit" ng-click="ctrl.startConversation()">{{'myOffer.startConversation'|
            translate}}</button>
        </div>
      </div>
    </div>


    <!-- <h4>Upload on file select</h4>
    <button type="file" ngf-select="ctrl.uploadFiles($file, $invalidFiles)"
            accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
        Select File</button>
    <br><br>
    File:
    <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
        <span class="progress" ng-show="f.progress >= 0">
            <div 
                 ng-bind="f.progress + '%'"></div>
        </span>
    </div>     
    {{errorMsg}} -->

    <form name="myForm">
      <fieldset>
        <legend>Upload on form submit</legend>
        Username:
        <i ng-show="myForm.userName.$error.required">*required</i>
        <br>Photo:
        <input type="file" ngf-select ng-model="picFile" name="file"    
               accept="image/*" ngf-max-size="2MB" required
               ngf-model-invalid="errorFile">
        <i ng-show="myForm.file.$error.required">*required</i><br>
        <i ng-show="myForm.file.$error.maxSize">File too large 
            {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> 
        <button ng-click="picFile = null" ng-show="picFile">Remove</button>
        <br>
        <button ng-disabled="!myForm.$valid" 
                ng-click="ctrl.uploadPic(picFile)">Submit</button>
        <span class="progress" ng-show="picFile.progress >= 0">
          <div 
              ng-bind="picFile.progress + '%'"></div>
        </span>
        <span ng-show="picFile.result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
      </fieldset>
      <br>
    </form>

    <!-- <form ng-app="fileUpload" ng-controller="MyCtrl" name="form">
      Single Image with validations
      <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
        ngf-resize="{width: 100, height: 100}">Select</div>
      Multiple files
      <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>
      Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>
      <button type="submit" ng-click="submit()">submit</button>
    </form>
    
    Upload right away after file selection:
    <div class="button" ngf-select="upload($file)">Upload on file select</div>
    <div class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</div>
      Drop File:
    <div ngf-drop="uploadFiles($files)" class="drop-box"
      ngf-drag-over-class="'dragover'" ngf-multiple="true"
      ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

 -->



    <div class="row cda-row" ng-if="ctrl.myOffer">
      <div class="col-md-12">
        <button ng-if=ctrl.myOffer type="button" class="btn btn-primary btn-save-myOffer float-right" type="submit" ng-click="ctrl.updateService()">{{'myOffer.updateService'|
          translate}}</button>
        <button ng-if=ctrl.myOffer type="button" class="btn btn-danger btn-save-myOffer float-right" type="submit" ng-click="ctrl.cancelUpdate()">{{'myOffer.cancelUpdate'|
          translate}}</button>
      </div>
    </div>
  </div>
</form>