<div class="col-md-12">
    <ul class="pager">
        <li><a ng-if="ctrl.pagination.pageIndex > 1" ng-click="ctrl.pagePrev()">
                <<</a> </li> <li><a ng-if="ctrl.pagination.pageIndex < ctrl.pagination.totalPages" ng-click="ctrl.pageNext()">>></a></li>
        <li><a ng-click="ctrl.pageSpecific()">Go to page</a></li>
        <li><input type="number" min="1" step="1" class="form-control input-page" ng-pattern="/[0-9]*$/" ng-model="ctrl.pagination.pageSelected"></li>
        <li>{{'offers.show'|translate}}<select class="custom-select d-block w-100  form-control input-page" id="limits"
                ng-change="ctrl.updateOffers()" ng-model="ctrl.pagination.itemsPerPage" ng-options="x for x in ctrl.pagination.limits"></select></li>
    </ul>
</div>
<div class="col-md-12 text-center">
    {{ 'offers.pagesInfo' | translate : { pageIndex: ctrl.pagination.pageIndex, totalPages:
    ctrl.pagination.totalPages, totalItems: ctrl.totalItems } }}
</div>