<div ng-controller="MyOfferController as ctrl" class="offers-filter">
  <div us-spinner spinner-on="ctrl.isLoading">
  <div class="row cda-row">
    <div class="row cda-row">
      <h1 class="col-xs-12 title-initial">{{'myOffer.title'| translate}}</h1>
    </div>
  </div>
  <div class="row cda-row">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <img src="content/images/camera.png" class="offer-image">
      </div>
      <div class="col-xs-6">
        <h2 class="offer-name">{{ctrl.offer.Title}}</h1>
        <label class="offer-label" translate="">Category: {{ctrl.offer.Category.Description}}</label> <br>
        <label class="offer-label" translate="">Countrty: {{ctrl.offer.Country.Name}}</label> <br><br>
        <label class="offer-label" translate="">Description</label> <br> 
        <label class="offer-text" translate="">{{ctrl.offer.Description}}</label> <br> 
      </div>
    </div>
  </div>
</div>