<div ng-form="CRUDMyAccountForm" class="crud" us-spinner spinner-on="ctrl.isLoading">
  <div class="container-fluid">
    <div class="row cda-row">
      <h1 class="col-xs-12 title">{{ctrl.title}}</h3>
    </div>
    <div>
      <div ng-include="'modules/myAccount/myAccount-crud-general'"></div>
      <div ng-include="'modules/myAccount/myAccount-crud-account'"></div>
    </div>
  </div>
  <div class="modal-footer container-fluid">
    <div class="row cda-row">
      <div class="col-xs-12 pull-right">
        <button ng-if="ctrl.myAccount._id && !ctrl.isEditing" class="btn btn-primary" type="button" ng-click="ctrl.setEdit(true)">Editar</button>
        <button ng-if="ctrl.isEditing" class="btn btn-primary" type="button" ng-click="ctrl.save()">
          {{'global.button.save'|translate}}</button>
        <button ng-if="ctrl.isEditing" class="btn btn-warning" type="button" ng-click="ctrl.cancel()">
          {{'global.button.cancel'|translate}}</button>
      </div>
    </div>
  </div>
</div>