<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" ng-click="ctrl.closeNav()">&times;</a>
    <a ng-click="ctrl.goToMyAccount()"><span class="glyphicon glyphicon-user"></span>
            {{ctrl.user.Account.Nickname}}</a>
    <hr>
    <a ng-click="ctrl.goToMyAccount()">{{'global.menu.myAccount' | translate}}</a>
    <a ng-click="ctrl.goToMyOffers()">{{'global.menu.myOffers' | translate}}</a>
    <a ng-click="ctrl.goToMyChats()">{{'global.menu.myChats' | translate}}</a>
    <a ng-click="ctrl.goToOffers()">{{'global.menu.offers' | translate}}</a>
    <hr>
    <span class="col-xs-12"><button class="btn btn-block btn-primary" type="submit" ng-click="ctrl.logout()" translate="login.signOut"></button></span>
</div>

<!-- Use any element to open the sidenav -->
<span ng-click="ctrl.openNav()">open</span>