<div ng-controller="LoginController as ctrl" us-spinner spinner-on="ctrl.isLoading">
  <div class="row">
    <br>
    <img class="center-block img-responsive" height="250" width="250" src="https://userscontent2.emaze.com/images/91fc48c1-0aa2-4af9-99a0-f33d39b52a2d/76badd12f78b5d57f90c0d603a403a6c.png">
    <div class="col-xs-12">
      <form class="well center-block" style="max-width: 35rem">
        <legend class="text-center" translate="login.welcome"></legend>
        <div class="row">
          <div class="form-group has-float-label">
            <label for="email" translate="login.email"></label>
            <input class="form-control" ng-model="ctrl.user.email" type="email" placeholder="mail@example.com" required autofocus />
          </div>
        </div>
        <div class="row">
          <div class="form-group has-float-label">
            <label for="password" translate="login.password"></label>
            <input class="form-control" ng-model="ctrl.user.password" type="password" placeholder="••••••••" required autofocus />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <button class="btn btn-block btn-primary" type="submit" ng-click="ctrl.singIn()" translate="login.signIn"></button>
          </div>
          <div class="col-xs-6">
            <a href="" ng-click="ctrl.goToSignUp()">{{'login.signUp' | translate}}</a>
          </div>
        </div>
    </div>
    </form>
  </div>
</div>