<div ng-controller="LoginController as ctrl" us-spinner spinner-on="ctrl.isLoading">
  <div class="row cda-row">
    <img class="center-block img-responsive login-image" height="400" width="400" src="content/images/connectingUsLogo.png">
    <div class="col-xs-12">
      <form class="well center-block login-shadow" style="max-width: 35rem">
        <legend class="text-center" translate="login.welcome"></legend>
        <div class="row cda-row">
          <div class="login-input has-float-label">
            <label for="email" translate="login.email"></label>
            <input class="form-control" ng-model="ctrl.user.Mail" type="email" placeholder="mail@example.com" required autofocus />
          </div>
        </div>
        <div class="row cda-row">
          <div class="login-input has-float-label">
            <label for="password" translate="login.password"></label>
            <input class="form-control" ng-model="ctrl.user.Password" type="password" placeholder="••••••••" required autofocus />
          </div>
        </div>
        <div class="row cda-row">
          <div class="col-xs-6">
            <button class="btn btn-block btn-primary" type="submit" ng-click="ctrl.singIn()" translate="login.signIn"></button>
          </div>
          <div class="col-xs-6">
            <a href="" ng-click="ctrl.goToSignUp()">{{'login.signUp' | translate}}</a>
          </div>
        </div>
    </div>
    </form>
  </div>
</div>
