<div ng-controller="PriceListsItemsDetailsController as vm">
    <div bento-busy-loader="vm.isLoading">
        <div class="container-fluid price-list-items-details">
            <div class="row samba-row top-bar">
                <div class="row smb-top-panel grey-border-panel">
                    <div class="pull-left">
                        <button type="button" class="btn-default" ng-click="vm.goBack()"><i class="bento-icon-chevron-large-left"></i></button>
                    </div>
                    <div class="col-xs-8 pull-left">
                        <span class="primary-text">{{'PriceLists.details.comeBack' | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="row samba-row">
                <div class="col-xs-12 col-sm-6 col-md-4 img-big" ng-if="vm.item.product.id">
                    <bm-lazy-image src="'/api/samba-esales/v1/products/' + vm.item.product.id + '/thumbnail'"
                                   default-img="'content/images/camera.png'"
                                   class="bm-lazy-image">
                    </bm-lazy-image>
                </div>
                <div class="col-xs-5 col-md-5 info">

                    <div class="row samba-row">
                        <div class="col-xs-12 title">
                            {{vm.item.product.nameGeneric}}
                        </div>
                    </div>
                    <div class="row samba-row">
                        <div class="price">
                            <div ng-if="!vm.item.product.discount.discountRates[0].rate" class="col-xs-12 price">
                                <span>{{vm.priceProduct}}</span>
                                <span>{{'PriceLists.details.price' | translate }} {{vm.item.product.measurement.description}}</span>
                            </div>
                            <div ng-if="vm.item.product.discount.discountRates[0].rate > 0" class="col-xs-12">
                                <span>{{vm.discountPrice}}</span>
                                <span>{{'PriceLists.details.price' | translate }} {{vm.item.product.measurement.description}}</span>
                            </div>
                            <div ng-if="vm.item.product.discount.discountRates[0].rate < 0">
                                <div class="col-xs-4 discount">
                                    {{vm.priceProduct}}
                                </div>
                                <div class="col-xs-8 format-discount">
                                    <span>{{vm.discountPrice}}</span>
                                    <span>{{'PriceLists.details.price' | translate }} {{vm.item.product.measurement.description}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row samba-row">
                        <div class="col-xs-12 comments">
                            {{vm.item.product.comments}}
                        </div>
                    </div>
                    <div class="row samba-row">
                        <div class="col-xs-12 nameElement">
                            <div ng-if="vm.item.product.attribute1Name">
                                <span class="attributeName">{{vm.item.product.attribute1Name}}:</span>
                                <span>{{vm.item.product.nameElement1}}</span>
                            </div>
                            <div ng-if="vm.item.product.attribute2Name">
                                <span class="attributeName">{{vm.item.product.attribute2Name}}:</span>
                                <span>{{vm.item.product.nameElement2}}</span>
                            </div>

                            <div ng-if="vm.item.product.attribute3Name">
                                <span class="attributeName">{{vm.item.product.attribute3Name}}:</span>
                                <span>{{vm.item.product.nameElement3}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-3 buy">
                    <div class="row samba-row">
                        <div class="col-xs-12 title">
                            {{'PriceLists.details.buy' | translate }}
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="row samba-row">
                        <div class="col-xs-12 subtitles">
                            {{vm.item.product.measurement.description}}
                        </div>
                    </div>
                    <div ng-form="form">
                        <div class="row samba-row">
                            <div class="col-xs-12">
                                <input bm-number
                                       bm-number-min="0"
                                       bm-number-decimal-places="{{vm.item.product.decimals}}" ng-if="vm.item.product.decimals>=0"
                                       name="quantity"
                                       placeholder="{{'PriceLists.details.quantity.placeholder' | translate }}"
                                       ng-class="{ 'ng-invalid aa-invalid-attempt' : vm.quantityError }"
                                       class="form-control inputQuantity"
                                       ng-model="vm.inputQuantity"
                                       ng-change="vm.calcAmount()"
                                       autofocus required />

                                <div class="validation-error" ng-show="vm.quantityError">
                                    {{ vm.quantityError | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="row samba-row">
                            <div class="col-xs-12 subtitles">
                                {{'PriceLists.details.amount' | translate }}
                            </div>
                        </div>
                        <div class="row samba-row">
                            <div class="col-xs-12">
                                <div class="form-control inputQuantity">
                                    <span>{{vm.totalAmount}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row samba-row">
                            <div class="col-xs-12 price-lists-btn">
                                <button type="button" class="btn btn-primary btnAddCart" id="btnAddCart" ng-click="vm.save()">{{'PriceLists.details.cart' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.relatedItems.length">
            <div class="row samba-row">
                <div class="col-xs-12 price-list-items-details">
                    <div class="related">{{'PriceLists.details.related' | translate }}</div>
                </div>
                <price-lists-items-list open-state="'/pricelists/:id/details'" items="vm.relatedItems" currency-symbol="vm.currencySymbol"></price-lists-items-list>
            </div>
        </div>
    </div>
</div>

