<div class="row cda-row">
  <h2 class="col-xs-12 title">{{'myAccount.general.title' | translate}}</h2>
</div>
<div class="row cda-row">
  <div class="col-xs-6">
    <label class="label-crud label-required" translate="myAccount.general.firstName"></label>
    <input ng-model="ctrl.myAccount.firstName" type="text" class="form-control">
    <div class="validate-error ng-cloak" ng-show="ctrl.validateError.firstName">{{ctrl.validateError.text}}</div>
  </div>
  <div class="col-xs-6">
    <label class="label-crud label-required" translate="myAccount.general.lastName"></label>
    <input name="name" ng-model="ctrl.myAccount.lastName" type="text" class="form-control">
    <div class="validate-error ng-cloak" ng-show="ctrl.validateError.lastName">{{ctrl.validateError.text}}</div>
  </div>
</div>
<div class="row cda-row">
  <div class="col-xs-4">
    <label class="label-crud label-required" translate="myAccount.general.nickName"></label>
    <input ng-model="ctrl.myAccount.nickName" type="text" class="form-control" ng-disabled="ctrl.myAccount.id">
    <div class="validate-error ng-cloak" ng-show="ctrl.validateError.nickName">{{ctrl.validateError.text}}</div>
  </div>
  <div class="col-xs-4">
    <label class="label-crud label-required" translate="myAccount.general.dayOfBirth"></label>
    <div class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="ctrl.dateSelected.value" is-open="ctrl.dateSelected.opened"
        datepicker-options="ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="ctrl.openDate()">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </div>
    <div class="validate-error ng-cloak" ng-show="ctrl.validateError.dateOfBirth">{{ctrl.dateSelected.error}}</div>
  </div>
  <div class="col-xs-4">
    <label class="label-crud label-required" translate="myAccount.general.gender"></label>
    <select class="btn btn-default col-xs-12" ng-model="ctrl.myAccount.gender" ng-options="x.description for x in ctrl.genders"></select>
    <div class="validate-error ng-cloak" ng-show="ctrl.validateError.gender">{{ctrl.validateError.text}}</div>
  </div>
</div>
<div class="row cda-row">
  <div class="col-xs-4">
    <label class="label-crud label-required" translate="myAccount.general.nationality"></label>
    <select class="btn btn-default col-xs-12" ng-model="ctrl.myAccount.nationality" ng-options="x.description for x in ctrl.nationalities"></select>
    <div class="validate-error ng-cloak" ng-show="ctrl.validateError.nationality">{{ctrl.validateError.text}}</div>
  </div>
  <div class="col-xs-4">
    <label class="label-crud label-required" translate="myAccount.general.country"></label>
    <select class="btn btn-default col-xs-12" ng-model="ctrl.myAccount.countryOfResidence.description" ng-options="x.description for x in ctrl.countries"></select>
    <div class="validate-error ng-cloak" ng-show="ctrl.validateError.countryOfResidence">{{ctrl.validateError.text}}</div>
  </div>
  <div class="col-xs-4">
    <label class="label-crud label-required" translate="myAccount.general.city"></label>
    <input ng-model="ctrl.myAccount.city" type="text" class="form-control">
    <div class="valideate-error ng-cloak" ng-show="ctrl.validateError.city">{{ctrl.validateError.text}}</div>
  </div>
</div>