<div ng-form="CRUDMyAccountForm" class="crud" us-spinner spinner-on="ctrl.isLoading">
  <div class="container-fluid">
    <div class="row cda-row">
      <h1 class="col-xs-12 title">{{ctrl.title}}</h3>
    </div>
    <div>
      <div ng-include="'modules/myAccount/templates/myAccount-crud-general'"></div>
      <div ng-include="'modules/myAccount/templates/myAccount-crud-account'"></div>
    </div>
    <div class="row cda-row">
      <div class="modal-footer">
        <div class="col-xs-12">
          <button class="btn btn-lg btn-success" type="button" ng-click="ctrl.save()">
            {{'global.button.save'|translate}}</button>
          <button class="btn btn-lg btn-default" type="button" ng-click="ctrl.cancel()">
            {{'global.button.cancel'|translate}}</button>
        </div>
      </div>
    </div>
  </div>