<form name="CRUDMyAccountForm" class="crud" us-spinner spinner-on="ctrl.isLoading">
    <div class="container-fluid">
      <div ng-if="ctrl.alert.show" class="alert + {{ctrl.alert.type}}">
        <div>{{ctrl.alert.message}}</div>
      </div>
      <div class="row cda-row">
        <h1 class="col-xs-12 title">{{ctrl.title}}</h3>
      </div>
      <div class="row cda-row">
        <h2 class="col-xs-12 title">{{'myAccount.general.title' | translate}}</h2>
      </div>
      <div class="row cda-row">
        <div class="col-xs-6 form-group">
          <label class="label-crud label-required" translate="myAccount.general.firstName"></label>
          <input name="FirstName" ng-model="ctrl.myAccount.FirstName" type="text" class="form-control"
            required autofocus>
            <span class="error" ng-show="CRUDMyAccountForm.FirstName.$error.pattern">The characters are wrong.</span>  
        </div>
        <div class="col-xs-6 form-group">
          <label class="label-crud label-required" translate="myAccount.general.lastName"></label>
          <input name="name" ng-model="ctrl.myAccount.LastName" type="text" class="form-control" ng-pattern="/.*[a-zA-Z]+.*/"
            required>
            <span class="error" ng-show="myForm.phone.$error.pattern">The characters are wrong.</span>  
        </div>
      </div>
      <div class="row cda-row">
        <div class="col-xs-4">
          <label class="label-crud label-required" translate="myAccount.general.nickName"></label>
          <input ng-model="ctrl.myAccount.Account.NickName" type="text" class="form-control" max-length="25"
            ng-disabled="ctrl.myAccount.Id" required autofocus>
        </div>
        <div class="col-xs-4">
          <label class="label-crud label-required" translate="myAccount.general.dayOfBirth"></label>
          <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="ctrl.dateSelected.value"
              is-open="ctrl.dateSelected.opened" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="Close"
              alt-input-formats="altInputFormats" required autofocus />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="ctrl.openDate()">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-xs-4">
          <label class="label-crud label-required" translate="myAccount.general.gender"></label>
          <select class="btn btn-default col-xs-12" ng-model="ctrl.myAccount.Gender" ng-options="x.description for x in ctrl.genders"
            required autofocus></select>
        </div>
      </div>
      <div class="row cda-row">
        <div class="col-xs-4">
          <label class="label-crud label-required" translate="myAccount.general.nationality"></label>
          <select class="btn btn-default col-xs-12" ng-model="ctrl.myAccount.CountryOfBirth" ng-options="x.Name for x in ctrl.nationalities track by x.Id"
            required autofocus></select>
        </div>
        <div class="col-xs-4">
          <label class="label-crud label-required" translate="myAccount.general.country"></label>
          <select class="btn btn-default col-xs-12" ng-model="ctrl.myAccount.CountryOfResidence" ng-options="x.Name for x in ctrl.countries track by x.Id"
            ng-change="ctrl.onChangeCountries()" required autofocus></select>
        </div>
        <div class="col-xs-4">
          <label class="label-crud label-required" translate="myAccount.general.city"></label>
          <select class="btn btn-default col-xs-12" ng-model="ctrl.myAccount.CityOfResidence" ng-options="x.Name for x in ctrl.cities track by x.Id"
            required autofocus></select>
        </div>
      </div>
      <div class="row cda-row">
        <h2 class="col-xs-12 title">{{'myAccount.account.title' | translate}}</h2>
      </div>
      <div class="row cda-row" ng-disabled="ctrl.myAccount.id">
        <div ng-class="ctrl.myAccount.Id ? 'col-xs-12' : 'col-xs-6'">
          <label class="label-crud label-required" translate="myAccount.account.email"></label>
          <input class="form-control" ng-model="ctrl.myAccount.Account.Mail" type="email" placeholder="mail@example.com"
            required autofocus />
            <div class="validate-error ng-cloak" ng-show="ctrl.validateError.show.email">{{ctrl.validateError.message.email}}</div>
        </div>
        <div class="col-xs-6" ng-if="!ctrl.myAccount.Id">
          <label class="label-crud label-required" translate="myAccount.account.emailConfirm"></label>
          <input ng-model="ctrl.emailConfirm" type="email" class="form-control" required autofocus>
          <div class="validate-error ng-cloak" ng-show="ctrl.validateError.show.emailConfirm">{{ctrl.validateError.message.emailConfirm}}</div>
        </div>
      </div>
      <div class="row cda-row">
        <div class="col-xs-6">
          <label class="label-crud label-required" translate="myAccount.account.password"></label>
          <input class="form-control" ng-model="ctrl.myAccount.Account.Password" type="password" minlength="8"
            placeholder="••••••••" required autofocus />
        </div>
        <div class="col-xs-6">
          <label class="label-crud label-required" translate="myAccount.account.passwordConfirm"></label>
          <input class="form-control" ng-model="ctrl.passwordConfirm" type="password" minlength="8" placeholder="••••••••"
            required autofocus />
          <div class="validate-error ng-cloak" ng-show="ctrl.validateError.show.passwordConfirm">{{ctrl.validateError.message.passwordConfirm}}</div>
        </div>
      </div>
      <div class="row cda-row">
        <div class="col-xs-2">
          <label class="label-crud" translate="myAccount.account.codeArea" ng-pattern="/^[7-9][0-9]{9}$/"></label>
          <input ng-model="ctrl.myAccount.PhoneAreaCode" type="text" class="form-control">
          <span class="error" ng-show="myForm.phone.$error.pattern">The characters are wrong. Set a valid number</span>
        </div>
        <div class="col-xs-8">
          <label class="label-crud" translate="myAccount.account.phoneNumber"></label>
          <input name="phone" ng-model="ctrl.myAccount.PhoneNumber" type="text" class="form-control" ng-pattern="/^[0-9]/"/>
          <span class="validate-error ng-cloak" ng-show="CRUDMyAccountForm.phone.$error.pattern">The characters are wrong. Set a valid number</span>
        </div>
        <div class="col-xs-2">
          <label class="label-crud" translate="myAccount.account.typeNumber"></label>
          <select class="btn btn-default col-xs-12" ng-model="ctrl.myAccount.PhoneType" ng-options="x.description for x in ctrl.phoneTypes track by x.Id"></select>
        </div>
      </div>
      <div class="row cda-row">
        <div class="modal-footer">
          <div class="col-xs-12">
            <button class="btn btn-lg btn-success" type="submit" ng-click="ctrl.save()" ng-disabled="ctrl.isLoading">
              {{'global.button.save'|translate}}</button>
            <button class="btn btn-lg btn-default" type="button" ng-click="ctrl.cancel()">
              {{'global.button.cancel'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
</div>