<div ng-form="ChatsCRUDRateForm" class="modal-container" us-spinner spinner-on="ctrl.isLoading">
    <div class="modal-header">
        <div class="row">
            <span>
                <h4 class="modal-title" id="modal-title">{{'chats.rate.title'|translate}}<span class="close" ng-click="ctrl.cancel()">&times;</span></h4>
            </span>
        </div>
    </div>
    <div class="modal-body">
        <div class="row cda-row">
            <div class="col-md-12">{{ctrl.rating.current}}/{{ctrl.rating.max}}
                <star-rating rating-value="ctrl.rating.current" max="ctrl.rating.max" on-rating-selected="ctrl.getSelectedRating(rating)"></star-rating>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row cda-row">
            <div class="col-md-12">
                <button class="btn btn-lg btn-success" type="submit" ng-disabled="ctrl.isLoading" ng-click="ctrl.sendRate()">{{'global.button.save'|translate}}</button>
                <button class="btn btn-lg btn-default" type="submit" ng-click="ctrl.cancel()">{{'global.button.cancel'|translate}}</button>
            </div>
        </div>
    </div>
</div>