<div ng-form="CRUDAlumnosForm" class="modal-container" us-spinner spinner-on="ctrl.isLoading">
  <div class="modal-header">
    <div class="row cda-row">
      <span>
        <h3 class="modal-title" id="modal-title">{{ctrl.chat.Service.Title}} <span class="close" ng-click="ctrl.cancel()">&times;</span></h3>
      </span>
    </div>
  </div>
  <div class="modal-body">
    <div class="row cda-row">
      <div class="col-md-12 chat-container">
        <simple-chat messages="ctrl.chat.Messages" local-user="ctrl.me" send-function="ctrl.sendMessage"
          send-button-text="Send" show-user-avatar="false" show-composer="ctrl.chat.Active" composer-placeholder-text="Write your message here"></simple-chat>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-if="!ctrl.isMyOffer && ctrl.chat.Active">
    <div class="row cda-row">
      <div class="col-md-12">
        <button class="btn btn-lg btn-success" type="submit" ng-disabled="ctrl.isLoading" ng-click="ctrl.endChat()">{{'chats.endChat'|translate}}</button>
      </div>
    </div>
  </div>
</div>